name: CMake (Linux self-hosted)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake (Linux + g++)
        run: >
          cmake -S . -B build
          -DCMAKE_BUILD_TYPE=Release
          -DCMAKE_C_COMPILER=cc
          -DCMAKE_CXX_COMPILER=g++

      - name: Build
        run: cmake --build build -- -j 4

      - name: Run tests
        working-directory: build
        run: ctest --output-on-failure
